{%load static %}
<style>
h1 {text-align: center;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {background-color: rgb(253, 242, 226);}
</style>
<img src="{% static 'blog-banner.jpg' %}" width="100%" alt="">
<h1>Blog On The Way </h1>

<a href="{%url 'new' %}"><p style="text-align:center">I want to blog something on the way</p></a>

<div>
  {% if user.is_authenticated %}
    <h3 style="text-align: center;">HELLO, {{user.username}}</h3>
    {{user.birthday}}
    {{user.gender}}
    <a href="{% url 'logout'%}"><p style="text-align:center">logout</p></a>
  {% else %}

  <a href="{% url 'login'%}"><p style="text-align:center">login</p></a>
  <a href="{% url 'register'%}"><p style="text-align:center">register</p></a>
  {% endif %}
</div>

{% for blog in blogs%}

<hr>
<a href="{%url 'detail' blog.id%}">
<p style="text-align:center">
{{blog.title}}
<br>
{{blog.pub_date}}
<br>
{{blog.summary}}
<br>
<br>
{% if blog.image %}
<img src="{{blog.image.url}}">
{% endif %}
</p>
</a>
{%endfor%} 